header {
    background-color: black;
    height: 60px;
    left: 0px;
    top: 0px;
    width: 100%;
}

.logo {
    float: left;
    font-size: 25px;
    line-height: 60px;
    padding-left: 10px;
}

header,
ul {
    float: left;
    line-height: 40px;
}

header,
ul,
li {
    color: white;
    float: left;
    font-size: 18px;
    list-style: none;
    padding-right: 20px;
}

h1 {
    border-left: 5px solid black;
    border-bottom: 2px solid black;
    margin-top: 2px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 13px;
    border-left: 4px solid red;
    padding-left: 10px;     /*<入力フォーム>の幅テキスト通りにする*/
    font-size: 20px;
}

form {
    background-color: #f1f1f1;
    border: 1px solid gray;
    padding-top: 15px;
    padding-bottom: 15p;
    padding-left: 10px;
    width: 98%;
}

form div {
    padding-bottom: 13px;
}

.text,
textarea {
    border: 1px solid #dfdfdf;
    padding: 5px;
    color: #999;
    background-color: #fff;
}

.submit {
    border: 1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color: gray;
    border-radius: 5px;
    border-bottom: 2px solid black;
}

.left {
    background-color: white;
    float: left;
    height: auto;
    width: 70%;
    margin-bottom: 20px;
}

h3 {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid gray;
}

.title {
    margin-top: 15px;
    border: 1px solid gray;
    background-color: #f1f1f1;
    width: 99%;
}

.nakami {
    margin-left: 15px;
}

.name {
    font-size: 13px;
    margin-bottom: 15px;
}

.error {
    color: red;
}

.right {
    background-color: white;
    float: left;
    margin-top: 15px;
    width: 29%;
}

.right h4 {
    border-bottom: 2px dotted gray;
    margin-left: 10px;
}

.right h6 {
    font-weight: lighter;  /*文字の細さ指定（数字でもOK）*/
    margin-left: 35px;
}

footer {
    background-color: black;
    bottom: 0px;
    clear: left;  /*左の浮動要素を受けずに新たな行として表示*/
    color: white;
    height: 60px;
    left: 0px;
    line-height: 60px;
    text-align: center;
    width: 100%;
}
